<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Auftrag</title>

    <!-- A template for showing an auftrag in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, moment, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="auftrag.js?ver=11"></script>
    <script src="exampleData.js"></script>

    <link rel="stylesheet" href="auftrag.css?ver=17">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
          <ul>
            <li v-bind:class="[tableConnected ? 'done' : '']">I need <b>read table</b> access.</li>
            <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
            <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
          </ul>
          <p>Examples:</p>
          <ul>
            <li><a class="button" href="index.html?demo=1">A filled out auftrag</a></li>
            <li><a class="button" href="index.html?labels=1">A labelled auftrag</a></li>
          </ul>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <template v-if="auftrag">
        <div class="top">
          <div class="block">
            <div class="header">
              <div class="meta title">Auftrag</div>
            </div>
            <div class="info"><span class="meta">Auftragsdatum</span> {{ auftrag.Issued | asDate }}</div>
          </div>
          
          <div class="supplier">
            <div v-for="business in (auftrag.Auftragr ? [auftrag.Auftragr] : [])">
              <template v-if="typeof(business) === 'string'">
                <div class="address newlined">{{ business }}</div>
              </template>
              <template v-else>
                <div class="address">
                  <span class="name">{{ business.Name }}</span><br />
                  {{ business.Strasse1 }}<br />
                  <template v-if="business.Strasse2">
                    {{ business.Strasse2 }}<br />
                  </template>
                  {{ business.Ort }} {{ business.State }} {{ business.Plz }}<br />
                  <template v-if="business.Country">
                    {{ business.Country }}<br />
                  </template>
                </div>
                <template v-if="business.Email">
                  <div class="email">{{ business.Email }}</div>
                </template>
                <template v-if="business.Phone">
                  <div class="phone">{{ business.Phone }}</div>
                </template>
                <template v-if="business.Website">
                  <div class="website"><a v-bind:href="business.Url">{{ business.Website }}</a></div>
                </template>
              </template>
            </div>
          </div>
        </div>
        
        <div class="kunde" v-for="business in (auftrag.Kunde ? [auftrag.Kunde] : [])">
          <div class="title">Kunde</div>
          <div class="details">
            <template v-if="typeof(business) === 'string'">
              <div class="newlined">{{ business }}</div>
            </template>
            <template v-else>
              <div>{{ business.Name }}</div>
              <template v-if="business.Strasse1">
                {{ business.Strasse1 }},
              </template>
              <template v-if="business.Strasse2">
                {{ business.Strasse2 }},
              </template>
              {{ business.Ort }} {{ business.State }} {{ business.Plz }}
              <template v-if="business.Country">
                <br />{{ business.Country }}
              </template>
            </template>
          </div>
        </div>

        <table class="positionen">
          <template v-if="!Array.isArray(auftrag.Positionen)">
            <tr>
              <th>Produkt</th>
              <th class="money">Summe</th>
            </tr>
            <tr>
              <td>{{ auftrag.Positionen }}</td>
              <td class="money">{{ auftrag.Summe | currency }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <th>Produkt</th>
              <th class="money">Preis</th>
              <th class="number">Menge</th>
              <th class="money">Betrag</th>
            </tr>
            <tr v-for="item in auftrag.Positionen">
              <td>{{ item.Produkt }}</td>
              <td class="money" width="12%">{{ item.Preis | currency }}</td>
              <td class="number" width="12%">{{ item.Menge }}</td>
              <td class="money" width="12%">{{ item.Summe | currency }}</td>
            </tr>
          </template>
        </table>

        <div class="summary">
          <div class="part">
            <div class="title">Netto</div>
            <div class="details">{{ auftrag.Netto | currency }}</div>
          </div>
          <div class="part">
            <div class="title">USt 20%</div>
            <div class="details">{{ auftrag.USt | currency }}</div>
          </div>
          <div class="summe">
            <div class="title">Endsumme</div>
            <div class="details">{{ auftrag.Summe | currency }}</div>
          </div>
        </div>

        <div class="notice">

        </div>

        <template v-if="auftrag.Kommentar">
          <p class="kommentar">{{ auftrag.Kommentar }}</p>
        </template>

        <template v-for="help in (auftrag.Help ? [auftrag.Help] : [])">
          <div class="help">
            <div class="help-close">
              Add <span class="column-name">Due</span> or <span class="column-name">Issued</span> date to hide this help.
            </div>
            <div class="title">Column information</div>
            <div class="details">
              <table>
                <tr v-for="group in ['recognized', 'expected', 'ignored']">
                  <td class="key">{{ group }}</td>
                  <td>
                    <template v-if="group in help">
                      <div v-bind:class="['column-name', 'column-' + group]" v-for="col in help[group]">{{col}}</div>
                    </template>
                    <template v-else>
                      &mdash;
                    </template>
                  </td>
                </tr>
              </table>
              <template v-if="auftrag.SuggestReferencesColumn">
                <div>For structured address and item information, add a <span class="column-name">References</span> column with this formula:</div>
                <div>
                  <pre>RECORD(rec, expand_refs=1)</pre>
                </div>
              </template>
            </div>
          </div>
        </template>

        <div class="print">
          <a href="javascript:window.print()">Print</a>
        </div>
      </template>
    </div>
  </body>
</html>
